/AppleStore.csv
/MCC.csv
/MobileCloudComputing.csv
/MobileCloudComputing_All_GoogleScholar.csv
/statistic_id292840_global-mobile-cloud-traffic-share-2014-2019.xlsx
/Table_S1.xlsx
/Table_S2.xlsx
/Table_S3.xlsx
/Table_S4.xlsx
/Table_S5.xlsx
/Table_S6.xlsx
